In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Wholesale customers data.csv')

In [3]:
df.dropna()

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
0,2,3,12669,9656,7561,214,2674,1338
1,2,3,7057,9810,9568,1762,3293,1776
2,2,3,6353,8808,7684,2405,3516,7844
3,1,3,13265,1196,4221,6404,507,1788
4,2,3,22615,5410,7198,3915,1777,5185
...,...,...,...,...,...,...,...,...
435,1,3,29703,12051,16027,13135,182,2204
436,1,3,39228,1431,764,4510,93,2346
437,2,3,14531,15488,30243,437,14841,1867
438,1,3,10290,1981,2232,1038,168,2125
439,1,3,2787,1698,2510,65,477,52

In [4]:
from sklearn.model_selection import KFold, cross_val_score
from sklearn.ensemble import RandomForestClassifier

In [5]:
X=df.drop(columns=['Channel'], axis=1)   
y=df.Channel

In [6]:
kf=KFold(n_splits=5, shuffle=True, random_state=42)
rf_classifier=RandomForestClassifier(n_estimators=100, max_depth=5)

In [7]:
cv_scores=cross_val_score(rf_classifier, X, y, cv=kf)

In [8]:
print(cv_scores)

[0.89772727 0.94318182 0.88636364 0.90909091 0.93181818]

In [9]:
import numpy as np
np.mean(cv_scores)

0.9136363636363637